body{
    padding: 0;
    margin: 0;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
h1{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 10%;
}
.wrap{
    position: relative;
    width: 100vw;
    height: 100vh;
}
h1 img{
    width: 60%;
}
.menu{
    margin-top: 5%;
    position: absolute;
    top: 40%;
    left: 10%;
}
.menu ul{
    list-style: none;
    padding: 0;
}
.menu li{
    margin-top: 50px;
}

.menu .ga{
    width: 40%;
}
.menu .ro{
    width: 30%;
}